/* Importa il font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Reset di base e box-sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif; /* Usa il font Raleway */
    background: #f9f5f2;
    color: #444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenuto principale */
.main-content {
    flex: 1;
    width: 80%;
    max-width: 960px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente */
    margin-top: 90px; /* Aggiunto: Spazio per l'header fisso */
}

/*Header Styles (Navbar)*/

header {
    background-color: #616d63;
    padding: 10px 20px;
    width: 100%;
    heigth:100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;  /* Mantenuto */
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* MANTENUTO: Rende l'header fisso */
    top: 0;          /* Aggiunto: Assicura che sia in alto */
    left: 0;         /* Aggiunto: Assicura che sia a sinistra */
}

/* Stili per il contenitore del titolo */
.header-title {
    display: flex;
    flex-direction: column; /* Disponi gli elementi verticalmente */
    align-items: flex-start;    /* Centra orizzontalmente gli elementi */
    color: #FFFFFF; /* Assicurati che il testo sia bianco */
    margin-left: 15px;
}

/* Stili per il titolo principale */
header h1 {
    font-size: 24px;
    margin: 0;
    color: #FFFFFF;
}

/* Stili per il sottotitolo */
header h5 {
    font-size: 14px;  /* Regola la dimensione del carattere */
    margin: 0;        /* Rimuovi il margin predefinito */
    color: #FFFFFF;  /* Assicurati che il testo sia bianco */
    font-weight: normal;  /* Imposta il peso del carattere (opzionale) */
}

/* Stili per il menu a tendina */
.dropdown {
    position: relative;
    display: inline-block;
}
/*Set and display box*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*For style element*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Hover settings */
.dropdown-content a:hover {
    background-color: #ddd;
}

/*Code from start and center*/
header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #FFFFFF;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: 0;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    padding: 5px 5px;
}
/*Set if are click on the section */
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    padding: 8px 12px;
}

nav li {
    margin: 5px;
    padding: 5px 5px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #CD8C95;
}

/*Set the element to top text*/
nav ul li a:hover {
    color: #B56F60;
}
nav ul li a:hover {
    color: #CD8C95;
    border-bottom: 2px solid #CD8C95;
    padding-bottom: 6px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra leggera */
         background-color: rgba(205, 140, 149, 0.2); /* Sfondo leggermente colorato */
         border-radius: 5px; /* Arrotonda gli angoli dello sfondo */
}
/* Stili per il contenitore del bottone di login */
.login-button-container {
    display: inline-block; /* Or block, depending on desired layout */
    align-self: center;
    margin-bottom: 20px;
}

.user-icon {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    width: 44px; /* Larghezza */
    height: 44px; /* Altezza */
    border-radius: 50%;
    background-color: #CD8C95;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Include il padding nella larghezza e nell'altezza */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow:none;
    border: none; /* Remove border */
        outline: none; /* Remove outline */
        appearance: none; /* For some browsers */
}

.user-icon i {
    color:#fff;
}

.user-icon:hover {
    background-color: #B56F60;
    transform: translateY(-2px); /* Leggero sollevamento al hover */
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}


/* The settings to  loggout*/
nav ul li .logout-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    padding: 0.7rem 1.3rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
/*For make effect in hover*/
nav ul li .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
}
/* Stili per il Calendario */
#calendario {
    margin-top: 200px; /* Regola lo spazio sopra la tabella */
    margin-bottom: 100px; /* Regola lo spazio sotto la tabella */
    padding: 20px;  /* Aumenta lo spazio interno */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    box-sizing: border-box; /* Importante per il padding e il border */
    width: 80%; /* Ridotto la larghezza per creare spazio */
    box-sizing: border-box;
    margin-left: auto;  /* Aggiunto per centrare */
    margin-right: auto; /* Aggiunto per centrare */

}

/* Stili per la tabella */
.timetable {
    width: 100%;  /* Assicura che la tabella occupi tutta la larghezza del contenitore */
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    font-weight: bold;
}

.timetable th, .timetable td {
    padding: 12px 5px;       /* Aumenta lo spazio interno */
    text-align: center;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 0.85em;
    vertical-align: middle;    /* Centra il contenuto verticalmente */
}

.timetable th {
    background-color:#B56F60; /* Sfondo più chiaro */
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

/* Stili per la colonna degli sport */
.sport-column {
    width: 120px;
    font-weight: bold;
    background-color: #f9f9f9;
    color: #666;
    text-align: left;
    padding-left: 20px;
}

/* Stili per le celle delle lezioni */
.lesson-cell {
    padding: 10px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.2s ease;
}

.lesson-cell:hover {
    background-color:#f5dcd7;
}
h2 {
    text-align: center;
    color: black;  /* Assicurati che il testo sia visibile */
    margin-top:20px; /* Aggiungi un po' di spazio sopra il titolo */
    margin-bottom:15px;
}

p {
    text-align: center;  /* Aggiungi uno stile per l'elemento <p> */
    margin-bottom:30px;
}


/* Rimuove i bordi superflui */
.timetable tr:last-child td {
    border-bottom: none;
}

.timetable tr td:last-child {
    border-right: none;
}


    /* --- FOOTER --- */
    footer {
        background-color: #616d63;
        color: #fff;
        padding: 3rem 2rem;
        width: 100%;
        box-sizing: border-box;
    }

    /* Set main property to objects*/
    .footer-container {
        display: flex;
        justify-content: space-between; /* Importante per la spaziatura */
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-follow {
            text-align: right;
        }

        footer-follow div {
                display: flex;
                justify-content: center;
            }

            .footer a {
                transition: color 0.5s;
            }

            .footer a:hover {
                opacity: 0.9;
            }

            .social-icon{
                text-decoration:none;
                color: white;
                margin-right: 20px;
            }

            .social-icon:hover{
                color:   #FFD3C1;
            }

        .footer-follow h5 {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
            text-align: center;
            padding-bottom: 1rem;
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }

        .links-mail{
            text-decoration:none;
            color:white;
            cursor: pointer;}

        .links-mail:hover {
            color:  #F8C6B8;
        }

    /* Stili per TUTTI e quattro i contenitori */
    .footer-location,
    .footer-hours,
    .footer-follow,
    .footer-newsletter {  /* Aggiunto il selettore per .footer-newsletter */
        /* flex: 1; RIMOSSO: non vogliamo che si dividano lo spazio */
        width: 23%;  /* Imposta una larghezza per ogni elemento */
        padding: 0 1rem;
        box-sizing: border-box; /* Importante per includere padding nella larghezza */
    }

    /* Stili specifici per i singoli contenitori (se necessario) */
    .footer-location h5,
    .footer-hours h5,
    .footer-follow h5,
    .footer-newsletter h5 { /* Assumo h5 per la newsletter */
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: lightgray;
    }

    /* Stili per i paragrafi in Location e Hours */
    .footer-location p,
    .footer-hours p {
        font-size: 1rem;
        margin: 0.3rem 0;
        line-height: 1.6;
        text-decoration: none;
    }

    /* Allineamento del testo in Follow (se necessario) */
    .footer-follow {
        text-align: center;
    }

    /* Stili specifici per la newsletter (se necessario) */
    .footer-newsletter {
        text-align: left;
    }

    .footer-newsletter input[type="email"] {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 5px;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .footer-newsletter button {
        background-color: #CD8C95;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

/* --- LOGO --- */
#logo1 {
    width: 90px;
    height: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 40px;
    cursor: pointer;
}

#logo2 {
    width: 80px;
    height: auto;
    margin-top: 0;
    margin-right: auto;
}

/* --- MEDIA QUERIES --- */
/* Dispositivi con larghezza massima di 1024px (tablet) */
@media screen and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-location, .footer-hours, .footer-follow, .footer-newsletter {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Dispositivi con larghezza massima di 768px (smartphone) */
@media screen and (max-width: 768px) {
    header {
        height: auto; /* Rimuove l'altezza fissa */
        padding: 8px 15px; /* Riduce il padding per renderlo più sottile */
        flex-direction: column; /* Impila verticalmente gli elementi */
        align-items: center; /* Centra gli elementi */
        position: relative; /* Necessario per posizionamento assoluto dell'hamburger */
    }

/* hamburger menu */
    nav {
        display: none;
        width: 100%;
        text-align: center;
        order: 1; /* Sposta la nav dopo il titolo */
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0.5rem 0; /* Aggiunge spazio tra gli elementi della lista */
    }

/* Mostra la nav quando hamburger è attivo */
    nav.active {
    display: flex;
    flex-direction: column;
     width: 100%;
     text-align: center;
      background-color: #616d63; /* Optional: Add a background color */
         position: absolute;
         top: 100%; /* Position below the header */
         left: 0;
         z-index: 10; /* Ensure it's above other content */
}
/* Hamburger */
.hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        order: 2; /* Sposta l'hamburger a destra */

    }

    .hamburger div {
        width: 100%;
        height: 3px;
        background-color: #fff; /* Colore delle linee */
    }


    /* Logo - */
    #logo1 {
        width: 50px;
        margin-left: 10px;

    }

#logo1 {
        width: 60px; /* Dimensione minore su dispositivi mobile */
    }

 /*login butto container */
.login-button-container {
    width: 100%; /* Fa occupare l'intero spazio */
    text-align: center; /* Centra l'elemento */
    margin-top: 0.5rem; /* Aggiunge spazio sopra al bottone */
    order: 3;

}

.login-button {
        font-size: 14px;
    }
}
/* Smartphone (max-width: 480px) */
@media (max-width: 480px) {
       /*header */
     header {
          padding: 0.5rem; /* Riduce il padding */
        }

     .header-title {
          margin: 0.3rem 0; /* Riduce il margine */
     }

 .header-title h1 {
        font-size: 1.2rem; /* Titolo più piccolo */
     }

      .header-title h5 {
        font-size: 0.8rem; /* Sottotitolo più piccolo */
 }
}