/* Importa il font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Reset di base e box-sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #f9f5f2;
    color: #444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Contenuto principale */
.main-content {
    flex: 1;
    width: 80%;
    max-width: 960px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header Styles (Navbar)*/
header {
    background-color: #616d63;
    position: relative;
    padding: 1rem 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;  /* Mantenuto */
    align-items: center;
    padding: 1rem 2rem;
}

/* Stili per il contenitore del titolo */
.header-title {
    display: flex;
    flex-direction: column; /* Disponi gli elementi verticalmente */
    align-items: center;    /* Centra orizzontalmente gli elementi */
    color: #FFFFFF; /* Assicurati che il testo sia bianco */
}

/* Stili per il titolo principale */
header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #FFFFFF;
}

/* Stili per il sottotitolo */
header h5 {
    font-size: 1rem;  /* Regola la dimensione del carattere */
    margin: 0;        /* Rimuovi il margin predefinito */
    color: #FFFFFF;  /* Assicurati che il testo sia bianco */
    font-weight: normal;  /* Imposta il peso del carattere (opzionale) */
}

.header-content {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header h1 {
    font-size: 2rem;
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
         margin:5px;
         padding: 5px 5px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #CD8C95;
}


/* Stili per il menu a tendina */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Sezione principale (Home) */
section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Carosello */
.carousel-container {
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Adjust transition speed as needed */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide navigation arrows */
.carousel-nav {
    display: none; /* Hide the navigation arrows */
}
/* Galleria Immagini */
.scrolling-gallery {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    margin-bottom: 2rem;
}

.gallery-item {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

.gallery-item img:hover {
    transform: scale(1.1);
}
/* Discipline */
.discipline-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    max-width: 1200px; /* Larghezza massima del contenitore */
    margin: 0 auto;
    gap: 20px;
}

.discipline-list li {
    width: calc(33.33% - 20px); /* Tre card per riga */
    height: 400px; /* Altezza desiderata per la card */
    margin: 10px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    box-sizing: border-box;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.discipline-list li:hover {
    background-color: #CD8C95;
    color: white;
    cursor: pointer;
    transform: translateY(-5px); /* Sposta la card verso l'alto al hover */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.discipline-list a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.discipline-list img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.discipline-list h1 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.discipline-list p {
    margin-top: 15px;
    font-size: 1rem;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .discipline-list li {
        width: calc(50% - 20px); /* Due card per riga */
    }
}
/* Insegnanti */
.teacher-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.teacher-card {
    width: calc(33.33% - 20px); /* Tre card per riga */
    height: 400px; /* Altezza aumentata */
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente e orizzontalmente */
}

.teacher-card img {
    width: 120px;  /* Riduci la dimensione dell'immagine */
    height: 120px;
    object-fit: cover;  /* Mantiene le proporzioni senza deformare */
    border-radius: 50%; /* Rende l'immagine circolare */
    margin-bottom: 10px; /* Aggiunge spazio tra l'immagine e il testo */
}

.teacher-card p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.teacher-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* Footer */
footer {
    background-color: #616d63;
    color: #fff;
    padding: 3rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

/* Set main property to objects*/
.footer-container {
    display: flex;
    justify-content: space-between; /* Importante per la spaziatura */
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Stili per TUTTI e quattro i contenitori */
.footer-location,
.footer-hours,
.footer-follow,
.footer-newsletter {  /* Aggiunto il selettore per .footer-newsletter */
    /* flex: 1; RIMOSSO: non vogliamo che si dividano lo spazio */
    width: 23%;  /* Imposta una larghezza per ogni elemento */
    padding: 0 1rem;
    box-sizing: border-box; /* Importante per includere padding nella larghezza */
}

/* Stili specifici per i singoli contenitori (se necessario) */
.footer-location h5,
.footer-hours h5,
.footer-follow h5,
.footer-newsletter h5 { /* Assumo h5 per la newsletter */
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: lightgray;

.discipline-list li {
    width: 300px; /* Larghezza desiderata per la card */
    height: 300px; /* Altezza desiderata per la card */
    margin: 10px;
    padding: 0; /* Rimuovi il padding precedente */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    box-sizing: border-box;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Allinea verticalmente */
    align-items: center; /* Allinea orizzontalmente */
    overflow: hidden; /* Importante per centrare l'immagine */
}

.discipline-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.discipline-image-container {
    width: 100%;
    height: 200px; /* Altezza desiderata per l'immagine */
    overflow: hidden; /* Nasconde le parti dell'immagine che non rientrano nel contenitore */
    display: flex;
    justify-content: center; /* Centra orizzontalmente l'immagine */
    align-items: center; /* Centra verticalmente l'immagine */
}

.discipline-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Riempie il contenitore con l'immagine, mantenendo le proporzioni */
}

.discipline-text {
    padding: 10px; /* Aggiungi un po' di spazio intorno al testo */
    text-align: center; /* Centra il testo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente il contenuto */
    justify-content: center; /* Centra verticalmente il contenuto */
    height: 100%; /* Assicura che il testo occupi tutto lo spazio disponibile */
}

.discipline-list li:hover {
    background-color: #CD8C95;
    color: white;
    cursor: pointer;
}

/* Insegnanti */
.teacher-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.teacher-card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;  /* Assicurati che sia presente */
    justify-content: center; /* Assicurati che sia presente */
    align-items: center;     /* Assicurati che sia presente */
}

.teacher-card:hover {
    background-color: #CD8C95;
    color: white;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #616d63;
    color: #fff;
    padding: 2rem;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 960px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 1rem;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: lightgray;
}

/* Stili per i paragrafi in Location e Hours */
.footer-location p,
.footer-hours p {
    font-size: 1rem;
    margin: 0.3rem 0;
    line-height: 1.6;
    text-decoration: none;
}

/* Allineamento del testo in Follow (se necessario) */
.footer-follow {
    text-align: center;
}

/* Stili specifici per la newsletter (se necessario) */
.footer-newsletter {
    text-align: left;
}

.footer-newsletter input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #333;
}

.footer-newsletter button {
    background-color: #CD8C95;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
<<<<<<< Updated upstream
=======
    #logo1 {
    width: 100px;
    height: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 40px;
    cursor: pointer;

}
   #logo2 {
    width: 80px;
    height: auto;
    margin-top: 0;
    margin-right: auto;

}

#logo1::before {
 content: attr(alt);
 text-align: center;
 display: block;
 color: blue;
 font-size: 0.8em;
}
>>>>>>> Stashed changes
