@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Base reset. */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #f9f5f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #444; /* Overall color */
}

/* Container for positioning */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

/*------------------------------
   Header Styles (Navbar)
  ------------------------------*/
header {
    background-color: #616d63;
    padding: 10px 20px;
    width: 100%;
    heigth:100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;  /* Mantenuto */
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* MANTENUTO: Rende l'header fisso */
    top: 0;          /* Aggiunto: Assicura che sia in alto */
    left: 0;         /* Aggiunto: Assicura che sia a sinistra */
}

/* Stili per il contenitore del titolo */
.header-title {
    display: flex;
    flex-direction: column; /* Disponi gli elementi verticalmente */
    align-items: flex-start;    /* Centra orizzontalmente gli elementi */
    color: #FFFFFF; /* Assicurati che il testo sia bianco */
    margin-left: 15px;
}

/* Stili per il titolo principale */
header h1 {
    font-size: 24px;
    margin: 0;
    color: #FFFFFF;
}

/* Stili per il sottotitolo */
header h5 {
    font-size: 14px;  /* Regola la dimensione del carattere */
    margin: 0;        /* Rimuovi il margin predefinito */
    color: #FFFFFF;  /* Assicurati che il testo sia bianco */
    font-weight: normal;  /* Imposta il peso del carattere (opzionale) */
}

/* Stili per il menu a tendina */
.dropdown {
    position: relative;
    display: inline-block;
}
/*Set and display box*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*For style element*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Hover settings */
.dropdown-content a:hover {
    background-color: #ddd;
}

/*Code from start and center*/
header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #FFFFFF;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: 0;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    padding: 5px 5px;
}
/*Set if are click on the section */
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    padding: 8px 12px;
}

nav li {
    margin: 5px;
    padding: 5px 5px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #CD8C95;
}

/*Set the element to top text*/
nav ul li a:hover {
    color: #B56F60;
}
nav ul li a:hover {
    color: #CD8C95;
    border-bottom: 2px solid #CD8C95;
    padding-bottom: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra leggera */
    background-color: rgba(205, 140, 149, 0.2); /* Sfondo leggermente colorato */
    border-radius: 5px; /* Arrotonda gli angoli dello sfondo */
}
/* Stili per il contenitore del bottone di login */
.bottone-logout-contenitore {
    margin-left:0px auto; /* Spinge il bottone a destra */
    margin-top:5px;
    margin-bottom:7px;
}

/* Stili per il bottone di login */
.logout-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: #CD8C95;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombra leggera */
}

.logout-button:hover {
    background-color: #B56F60;
    transform: translateY(-2px); /* Leggero sollevamento al hover */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/*--------------------------------
   User Profile Section
  ---------------------------------*/
.user-profile-section {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 900px;
    margin-top: 90px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* No distortion */
    margin-right: 2rem;
}

.profile-details {
    flex: 1;
}

.profile-details h2 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    color: #F2AA98;
}

.profile-details p {
    font-size: 1.2rem;
    color: #444;
    font-style: italic;
}

.profile-details p span {
    font-weight: bold;
    color: #777;
}

.quote {
    font-size: 1.0rem;
    font-style: italic;
    color: black;
    text-align: center;
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width: 80%;

}



.purchased-subscriptions-section {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
    text-align: left;
     background-color: #fff;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;
        max-width: 900px;
        margin-top: 90px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.purchased-subscriptions-section h3 { /* Modifica qui */
    margin-top: 20px; /* Spazio sopra il titolo */
    font-size: 1.5rem; /* Dimensione del titolo */
    margin-bottom: 1rem; /* Spazio sotto il titolo */
    color: #444; /* Colore del titolo */
    text-align: center; /* Allineamento del titolo */
    margin-right:10%;
}

.subscription-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out;
    position: relative;
    width: 100%; /* Per occupare la larghezza della section */
    box-sizing: border-box; /* Importante: Include padding e border nel calcolo della larghezza */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}



.subscription-item:hover {
    transform: translateY(-5px);
}

.subscription-item h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #444;
}

.subscription-item p {
    font-size: 1rem;
    color: #444;
}

.subscription-item .details {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.4;
}

.subscription-item .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.subscription-item a {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    background-color:#CD8C95;
    color: #444;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subscription-item a:hover {
    background-color: #fddcd7;
    color: #FCF1EF;
}


.view-schedule-button {
    padding: 0.75rem 1.5rem;
    background-color: #CD8C95;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: background-color 0.25s ease;
}

.view-schedule-button:hover {
    background-color: #FDDCD7;
    color: gray;
}

.other-subscriptions-section {
    text-align: center;
    padding: 20px;

}

.other-subscriptions-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.other-subscription-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.other-subscription-item:hover {
    transform: translateY(-5px);
}

#button-altri-abbonamenti {
    padding: 0.75rem 1.5rem;
    background-color: #CD8C95;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: background-color 0.25s ease;
}

#button-altri-abbonamenti:hover {
    background-color: #FDDCD7;
    color: gray;
}

.apri-paypal {
    padding: 0.75rem 1.5rem;
    background-color: #CD8C95;
    color: #fff;
    text-decoration: none;
    border-radius: 80px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: background-color 0.25s ease;
}

.apri-paypal:hover {
    background-color: #FDDCD7;
    color: gray;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

h3 {
    color: #CD8C95;
    font-size: 1.7em;
    margin-bottom: 10px;
    margin-top: 50px;
}

.nome-personale {
    margin-top: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.titolo-pacchetto {
    margin-left: 30x;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    color: #28a745;
}

/* schermo responsive */
@media (max-width: 768px) {

    .other-subscriptions-row {
        flex-direction: column;
        overflow-x: hidden;
        padding: 1rem;
    }
}

.popup-su {
    margin-top:30px;
    display: none; /* nascosto di default*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* contenuto centrale */
.container-scontrino {
    width: 70%;
    height: 70%;
    min-width: 636px;
    min-height: 456px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
}


.container-sinistra {
    background-color: #042c7c;
    width: 39%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
}


.info-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.scontrino-header {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.2;
    padding-bottom: 20px;
    border-bottom: 2px solid #8bb9f4;
    margin-bottom: 20px;
}


.scontrino-header > span {
    font-weight: 700;
    font-size: 2.2rem;
}


.scontrino-dentro {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 15px 0;
    border-bottom: 1px solid #8bb9f4;
}


.scontrino-dentro:last-child { /* con last child significa che prendiamo l'ultimo elemento della classe scontrino-dentro */
    border-bottom: none;
}


.scontrino-dentro > p {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
}


.scontrino-dentro > i {
    margin-right: 15px;
    color: white;
    font-size: 1.5rem;
    width: 25px;
    text-align: center;
}

.scontrino-dentro > span {
    font-weight: 600;
    font-size: 1.3rem;
}


.scontrino-destra {
    width: 61%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.scontrino-contenuto {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.scontrino-destra .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.scontrino-destra .header img {
    width: 90px;
    margin-right: 20px;
}


.scontrino-destra .centrale {
    flex-grow: 1;
    margin-bottom: 20px;
    text-align: left;
}

.scontrino-destra .messaggio {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.4;
}


.pagamento-centrale {
    text-align: center;
}

.pagamento-centrale p {
    text-align: center;
}


#paypal-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#paypal-login label {
    margin-top: 10px;
    font-weight: bold;
}


#paypal-login input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#tasto-paga {
    background-color: #042c7c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#tasto-paga:hover {
    background-color: #638de4;
}

.scritte-importanti {
    color: #289cd4;
}


.scontrino-destra .footer {
    margin-top: auto;
    text-align: left;
    font-size: 0.9em;
    color: #777;
}

.scontrino-destra .footer a {
    color: #1882ef;
    text-decoration: none;
}


.bottone-chiudi {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #042c7c;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}


.bottone-chiudi:hover {
    background-color: #5070b8;
}


i {
    font-family: FontAwesome !important; /* forzatura */
}

/* responsività per dispositivi mobili */
@media screen and (max-width: 768px) {
    .contenuto-pop-up {
        width: 80%;
    }
}

}
#logo1 {
    width: 100px;
    height: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 40px;
    cursor: pointer;

}
#logo2 {
    width: 80px;
    height: auto;
    margin-top: 0;
    margin-right: auto;

}
/* Stili specifici per la card "Nessun Abbonamento Attivo" */
.purchased-subscriptions-section[th\:if="${ultimoAbbonamento == null}"] h3 {
    color: #d32f2f; /* Rosso più scuro per il titolo */
    font-weight: bold; /* Rendi il titolo più evidente */
    text-align: center; /* Centra il titolo */
}

.purchased-subscriptions-section[th\:if="${ultimoAbbonamento == null}"] .subscription-card {
    background-color: #ffcdd2; /* Rosso molto chiaro per lo sfondo */
    border: 1px solid #ef9a9a; /* Bordo più tenue */
    text-align: center; /* Centra il contenuto della card */
}

.purchased-subscriptions-section[th\:if="${ultimoAbbonamento == null}"] .subscription-card p {
    color: #424242; /* Grigio scuro per il testo */
    font-size: 1.1em; /* Dimensione leggermente maggiore per il testo */
}


.purchased-subscriptions-section[th\:if="${ultimoAbbonamento == null}"] .subscription-card a:hover {
    text-decoration: underline; /* Aggiungi la sottolineatura al passaggio del mouse */
}

/* --- FOOTER --- */
    footer {
        background-color: #616d63;
        color: #fff;
        padding: 3rem 2rem;
        width: 100%;
        box-sizing: border-box;
    }

    /* Set main property to objects*/
    .footer-container {
        display: flex;
        justify-content: space-between; /* Importante per la spaziatura */
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-follow {
            text-align: right;
        }

        footer-follow div {
                display: flex;
                justify-content: center;
            }

            .footer a {
                transition: color 0.5s;
            }

            .footer a:hover {
                opacity: 0.9;
            }

            .social-icon{
                text-decoration:none;
                color: white;
                margin-right: 20px;
            }

            .social-icon:hover{
                color:   #FFD3C1;
            }

        .footer-follow h5 {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
            text-align: center;
            padding-bottom: 1rem;
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }

        .links-mail{
            text-decoration:none;
            color:white;
            cursor: pointer;}

        .links-mail:hover {
            color:  #F8C6B8;
        }

    /* Stili per TUTTI e quattro i contenitori */
    .footer-location,
    .footer-hours,
    .footer-follow,
    .footer-newsletter {  /* Aggiunto il selettore per .footer-newsletter */
        /* flex: 1; RIMOSSO: non vogliamo che si dividano lo spazio */
        width: 23%;  /* Imposta una larghezza per ogni elemento */
        padding: 0 1rem;
        box-sizing: border-box; /* Importante per includere padding nella larghezza */
    }

    /* Stili specifici per i singoli contenitori (se necessario) */
    .footer-location h5,
    .footer-hours h5,
    .footer-follow h5,
    .footer-newsletter h5 { /* Assumo h5 per la newsletter */
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: lightgray;
    }

    /* Stili per i paragrafi in Location e Hours */
    .footer-location p,
    .footer-hours p {
        font-size: 1rem;
        margin: 0.3rem 0;
        line-height: 1.6;
        text-decoration: none;
    }

    /* Allineamento del testo in Follow (se necessario) */
    .footer-follow {
        text-align: center;
    }

    /* Stili specifici per la newsletter (se necessario) */
    .footer-newsletter {
        text-align: left;
    }

    .footer-newsletter input[type="email"] {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 5px;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .footer-newsletter button {
        background-color: #CD8C95;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

/* --- LOGO --- */
#logo1 {
    width: 90px;
    height: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 40px;
    cursor: pointer;
}

#logo2 {
    width: 80px;
    height: auto;
    margin-top: 0;
    margin-right: auto;
}

/* === INIZIO: Stili aggiuntivi per la select e le option === */

/* Stile per il contenitore della select (il <p>) */
p[style="margin-bottom: 20px;"] { /* Aggiunto selettore specifico */
  display: flex; /* Utilizza flexbox */
  align-items: center; /* Allinea verticalmente gli elementi */
}

/* Stile per la label (il <b>) */
p[style="margin-bottom: 20px;"] b {
  margin-right: 10px; /* Aggiunge un po' di spazio tra la label e la select */
  white-space: nowrap; /* Evita che il testo vada a capo */
}

/* Stile per la select */
.custom-select {
  appearance: none;
  background-color: white;
  border: 1px solid #BDBDBD;
  border-radius: 0.5rem;
  color: #CD8C95;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: auto;
  margin-left: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  min-width: 80px; /* Imposta una larghezza minima per la select */
  text-align: center; /* Allinea il testo al centro */
}

.custom-select:focus {
  border-color: #8FBC8F;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(143, 188, 143, 0.25);
}

/* Stile per le option */
.custom-select option {
  color: #495057;
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius:10px;

}

.custom-select option:hover {
  background-color: #FDDCD7; /* Colore rosa all'hover */
  color: #444; /* Colore testo hover */
}

select::-ms-expand { /* Per Internet Explorer */
  display: none;
}
/* --- MEDIA QUERIES --- */
/* Dispositivi con larghezza massima di 1024px (tablet) */
@media screen and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-location, .footer-hours, .footer-follow, .footer-newsletter {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Dispositivi con larghezza massima di 768px (smartphone) */
@media screen and (max-width: 768px) {
    header {
        height: auto; /* Rimuove l'altezza fissa */
        padding: 8px 15px; /* Riduce il padding per renderlo più sottile */
        flex-direction: column; /* Impila verticalmente gli elementi */
        align-items: center; /* Centra gli elementi */
        position: relative; /* Necessario per posizionamento assoluto dell'hamburger */
    }

/* hamburger menu */
    nav {
        display: none;
        width: 100%;
        text-align: center;
        order: 1; /* Sposta la nav dopo il titolo */
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0.5rem 0; /* Aggiunge spazio tra gli elementi della lista */
    }

/* Mostra la nav quando hamburger è attivo */
    nav.active {
    display: flex;
    flex-direction: column;
     width: 100%;
     text-align: center;
      background-color: #616d63; /* Optional: Add a background color */
         position: absolute;
         top: 100%; /* Position below the header */
         left: 0;
         z-index: 10; /* Ensure it's above other content */
}
/* Hamburger */
.hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        order: 2; /* Sposta l'hamburger a destra */

    }

    .hamburger div {
        width: 100%;
        height: 3px;
        background-color: #fff; /* Colore delle linee */
    }


    /* Logo - */
    #logo1 {
        width: 50px;
        margin-left: 10px;

    }

#logo1 {
        width: 60px; /* Dimensione minore su dispositivi mobile */
    }

 /*login butto container */
.login-button-container {
    width: 100%; /* Fa occupare l'intero spazio */
    text-align: center; /* Centra l'elemento */
    margin-top: 0.5rem; /* Aggiunge spazio sopra al bottone */
    order: 3;

}

.login-button {
        font-size: 14px;
    }
}
/* Smartphone (max-width: 480px) */
@media (max-width: 480px) {
       /*header */
     header {
          padding: 0.5rem; /* Riduce il padding */
        }

     .header-title {
          margin: 0.3rem 0; /* Riduce il margine */
     }

 .header-title h1 {
        font-size: 1.2rem; /* Titolo più piccolo */
     }

      .header-title h5 {
        font-size: 0.8rem; /* Sottotitolo più piccolo */
 }
}

