<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario Lezioni - Palestra Orientale</title>
  <link rel="stylesheet" href="/css/calendarioStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<header>
  <a th:href="@{/}">
    <img id="logo1" th:src="@{/imgStatiche/logo.png}" alt="logo Elemental Gym">
  </a>
  <div class="header-title">
    <h1>Elemental Flow</h1>
    <h5>Palestra Orientale</h5>
  </div>
  <nav>
    <ul>
      <li><a th:href="@{/}">Home</a></li>
      <li class="dropdown">
        <a href="#">Discipline ▾</a>
        <div class="dropdown-content">
          <a th:href="@{/discipline/yoga}">Yoga</a>
          <a th:href="@{/discipline/qigong}">Qigong</a>
          <a th:href="@{/discipline/tai chi}">Tai Chi</a>
          <a th:href="@{/discipline/pilates}">Pilates</a>
        </div>
      </li>
      <li><a th:href="@{/insegnanti}">Insegnanti</a></li>
      <li><a th:href="@{/calendario}">Calendario</a></li>
      <li><a th:href="@{/chisiamo}">Chi Siamo</a></li>
    </ul>
  </nav>
  <div class="login-button-container">
    <a th:href="@{/login}" class="login-button">Login</a>
  </div>
</header>

<section id="calendario">
  <h2>Calendario delle Lezioni</h2>
  <p style="text-align: center;">Consulta il nostro calendario per scegliere il giorno e l'ora delle lezioni che preferisci.</p>
  <table class="timetable">
    <thead>
    <tr>
      <th></th> <!-- Cella vuota per l'angolo in alto a sinistra -->
      <th>Lunedì</th>
      <th>Martedì</th>
      <th>Mercoledì</th>
      <th>Giovedì</th>
      <th>Venerdì</th>
      <th>Sabato</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="sport-column">Yoga</th>
      <td class="lesson-cell">09:00 - 10:00</td>
      <td>-</td>
      <td class="lesson-cell">11:00 - 12:00</td>
      <td>-</td>
      <td class="lesson-cell">14:00 - 15:00</td>
      <td>-</td>
    </tr>
    <tr>
      <th class="sport-column">Pilates</th>
      <td>-</td>
      <td class="lesson-cell">10:00 - 11:00</td>
      <td>-</td>
      <td class="lesson-cell">13:00 - 14:00</td>
      <td>-</td>
      <td class="lesson-cell">16:00 - 17:00</td>
    </tr>
    <tr>
      <th class="sport-column">Tai Chi</th>
      <td class="lesson-cell">12:00 - 13:00</td>
      <td></td>
      <td class="lesson-cell">15:00 - 16:00</td>
      <td>-</td>
      <td>-</td>
      <td class="lesson-cell">09:00 - 10:00</td>
    </tr>
    <tr>
      <th class="sport-column">Qigong</th>
      <td>-</td>
      <td class="lesson-cell">14:00 - 15:00</td>
      <td>-</td>
      <td class="lesson-cell">16:00 - 17:00</td>
      <td>-</td>
      <td class="lesson-cell">11:00 - 12:00</td>
    </tr>
    </tbody>
  </table>

  <div th:if="${messaggio}" class="alert alert-success" th:text="${messaggio}"></div>
  <div th:if="${errore}" class="alert alert-danger" th:text="${errore}"></div>
</section>

<footer>
  <div class="footer-container">
    <div class="footer-location">
      <img id="logo2" th:src="@{/imgStatiche/logo.png}">
      <p>Milano, Italia</p>
      <p>Via Roma, 12</p>
      <p>+39 456 345 8902</p>
      <p>
        <a class="links-mail">palestraorientale@gmail.com</a>
      </p>
    </div>

    <div class="footer-hours">
      <h5>ORARIO D'APERTURA</h5>
      <p>Lunedì-Venerdi</p>
      <p>6:00 - 22:00</p>
      <p>Sabato</p>
      <p>8:00 - 14:00</p>
      <p>Chiuso domenica</p>
    </div>

    <div class="footer-follow">
      <h5>SEGUICI SUI SOCIAL</h5>
      <div>
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="footer-newsletter">
      <h5>ISCRIVITI ALLA NEWSLETTER</h5>Rimani aggiornato sulle nostre novità!
      <form>
        <input type="email" placeholder="La tua email">
        <button type="submit">Iscriviti</button>
      </form>
    </div>
  </div>
</footer>
</body>
</html>