<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Nostri Insegnanti - Palestra Orientale</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/insegnantiStyle.css"/>


</head>
<body>

<header>
    <a th:href="@{/}">
        <img id="logo1" th:src="@{/imgStatiche/logo.png}" alt="logo Elemental Gym">
    </a>
    <div class="header-title">
        <h1>Elemental Flow</h1>
        <h5>Palestra Orientale</h5>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li class="dropdown">
                <a href="#">Discipline ▾</a>
                <div class="dropdown-content">
                    <a th:href="@{/discipline/yoga}">Yoga</a>
                    <a th:href="@{/discipline/qigong}">Qigong</a>
                    <a th:href="@{/discipline/tai chi}">Tai Chi</a>
                    <a th:href="@{/discipline/pilates}">Pilates</a>
                </div>
            </li>
            <li><a th:href="@{/insegnanti}">Insegnanti</a></li>
            <li><a th:href="@{/calendario}">Calendario</a></li>
            <li><a th:href="@{/chisiamo}">Chi Siamo</a></li>
        </ul>
    </nav>
    <div class="login-button-container">
        <button id="userIcon" class="user-icon">
            <a th:href="@{/login}">
                <i class="fa-solid fa-user"></i>
            </a>
        </button>
    </div>
</header>

<section id="insegnanti" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">I Nostri Insegnanti</h2>
        <p>Il nostro team di insegnanti è composto da esperti altamente qualificati e appassionati,
        <p>con anni di esperienza nell'insegnamento di discipline orientali come yoga, pilates, qigong e tai chi.</p>
        <p>Ogni insegnante è dedicato a guidare gli studenti attraverso un percorso di crescita personale </p>
        <p>e benessere fisico,offrendo lezioni coinvolgenti e personalizzate per ogni livello di esperienza.</p>
        <br>
        <p><strong><em>Scopri chi sono i nostri insegnanti e cosa li rende unici</em></strong></p>
        <div class="insegnanti-container">
            <div class="insegnante-card-container" th:each="insegnante : ${insegnanti}">
                <a th:href="@{|/discipline/${insegnante.disciplina}|}" class="insegnante-card-link">
                    <div class="insegnante-card">
                        <div class="card-side card-front">
                            <img th:src="${insegnante.fotoUrl}" alt="Foto Insegnante"
                                 style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;"/>
                            <!-- Nome e Cognome recuperati dal database -->
                            <h3 th:text="${insegnante.nome + ' ' + insegnante.cognome}"></h3>
                            <!-- Concatenazione Nome e Cognome -->
                        </div>
                        <div class="card-side card-back">
                            <!-- Descrizione e disciplina personalizzate -->
                            <p th:text="${insegnante.descrizione}">Descrizione dell'insegnante...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section><!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-location">
            <img id="logo2" th:src="@{/imgStatiche/logo.png}">
            <p>Milano, Italia</p>
            <p>Via Roma, 12</p>
            <p>+39 456 345 8902</p>
            <p>
                <a class="links-mail">palestraorientale@gmail.com</a></p>
        </div>

        <div class="footer-hours">
            <h5>ORARIO D'APERTURA</h5>
            <p>Lunedì-Venerdì</p>
            <p>6:00 - 22:00</p>
            <p>Sabato</p>
            <p>8:00 - 18</p>
            <p>Chiuso domenica</p>
        </div>

        <div class="footer-follow">
            <h5>SEGUICI SUI SOCIAL</h5>
            <div>
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="footer-newsletter">  <!-- Aggiunto il div per la newsletter -->
            <h5>ISCRIVITI ALLA NEWSLETTER</h5>
            <p>Rimani aggiornato sulle nostre novità!</p>
            <form>
                <input type="email" placeholder="La tua email">
                <button type="submit">Iscriviti</button>
            </form>
        </div>
    </div>
</footer>
</body>
</html>