
<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Palestra Orientale</title>
    <link href="/css/loginStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<!--NavBar-->
<header>
    <a th:href="@{/}">
        <img id="logo1" th:src="@{/imgStatiche/logo.png}" alt="logo Elemental Gym">
    </a>
    <div class="header-title">
        <h1>Elemental Flow</h1>
        <h5>Palestra Orientale</h5>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li class="dropdown">
                <a href="#">Discipline ▾</a>
                <div class="dropdown-content">
                    <a th:href="@{/discipline/yoga}">Yoga</a>
                    <a th:href="@{/discipline/qigong}">Qigong</a>
                    <a th:href="@{/discipline/tai chi}">Tai Chi</a>
                    <a th:href="@{/discipline/pilates}">Pilates</a>
                </div>
            </li>
            <li><a href="@{/insegnanti}">Insegnanti</a></li>
            <li><a href="@{/calendario}">Calendario</a></li>
            <li><a href="@{/chisiamo}">Chi Siamo</a></li>
        </ul>
    </nav>
    <div class="login-button-container">
        <a th:href="@{/login}" class="login-button">Login</a>
    </div>
</header>

<div class="main-content">
    <section>
        <h2>Accedi</h2>
        <h5>Effettua il login per accedere<br>alla tua area riservata</h5>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input type="text" th:name="username" id="username" placeholder="Il tuo username" required="required">

            <label for="password">Password</label>
            <input type="password" th:name="passwordUtente" id="password" placeholder="La tua password" required="required">

            <button type="submit">Accedi</button>
        </form>
        <p class="under-button">
            Non sei ancora iscritto? <a id="registrazione" th:href="@{/registrazione}">Registrati</a></p>
    </section>
</div>
<!--Footer-->
<footer>
    <div class="footer-container">
        <div class="footer-location">
            <img id="logo2" th:src="@{/imgStatiche/logo.png}">
            <p>Milano, Italia</p>
            <p>Via Roma, 12</p>
            <p>+39 456 345 8902</p>
            <p>
                <a class="links-mail">palestraorientale@gmail.com</a> </p>
        </div>

        <div class="footer-hours">
            <h5>ORARIO D'APERTURA</h5>
            <p>Lunedì-Sabato</p>
            <p>6:00 - 22:00</p>
            <p>Sabato</p>
            <p>8:00 - 21:00</p>
            <p>Chiuso domenica</p>
        </div>

        <div class="footer-follow">
            <h5>SEGUICI SUI SOCIAL</h5>
            <div>
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="footer-newsletter">  <!-- Aggiunto il div per la newsletter -->
            <h5>ISCRIVITI ALLA NEWSLETTER</h5>
            <p>Rimani aggiornato sulle nostre novità!</p>
            <form>
                <input type="email" placeholder="La tua email">
                <button type="submit">Iscriviti</button>
            </form>
        </div>
    </div>
</footer>
</body>
</html>
