<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione - Elemental Flow </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/registrazione.css">

</head>
<body>

<header>
    <a th:href="@{/}">
        <img id="logo1" src="/static/imgStatiche/logo.png" alt="logo Elemental Gym">
    </a>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li class="dropdown">
                <a href="#">Discipline</a>
                <div class="dropdown-content">
                    <a th:href="@{/discipline/yoga}">Yoga</a>
                    <a th:href="@{/discipline/qigong}">Qigong</a>
                    <a th:href="@{/discipline/tai chi}">Tai Chi</a>
                    <a th:href="@{/discipline/pilates}">Pilates</a>
                </div>
            </li>
            <li><a th:href="@{/insegnanti}">Insegnanti</a></li>
            <li><a th:href="@{/calendario}">Calendario</a></li>
            <li><a th:href="@{/chisiamo}">Chi Siamo</a></li>
        </ul>
    </nav>
    <div class="login-button-container">
        <a th:href="@{/login}" class="login-button">Login</a>
    </div>
</header>

<section>
    <h2 id="titolo">Compila il form</h2>
    <div class="container">
        <div class="left-section">
            <h3>Unisciti a noi!</h3>
            <p>Entra a far parte della <b>nostra community</b>e scopri un mondo di opportunità. Connettiti con persone che condividono le tue passioni, accedi a risorse esclusive e inizia il tuo percorso verso il successo. <b>Iscriviti ora e fai il primo passo!</b></p>
        </div>
        <div class="right-section">
            <form th:action="@{/registrazione}" method="post" th:object="${utente}" enctype="multipart/form-data">
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" th:field="*{nome}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                </div>
                <div>
                    <label for="cognome">Cognome:</label>
                    <input type="text" id="cognome" th:field="*{cognome}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
                </div>
                <div>
                    <label for="dataNascita">Data di Nascita:</label>
                    <input type="date" id="dataNascita" th:field="*{dataNascita}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></div>
                </div>
                <div>
                    <label for="indirizzo">Indirizzo:</label>
                    <input type="text" id="indirizzo" th:field="*{indirizzo}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></div>
                </div>
                <div>
                    <label for="email_reg">Email:</label>
                    <input type="email" id="email_reg" th:field="*{email}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div>
                    <label for="telefono">Telefono:</label>
                    <input type="text" id="telefono" th:field="*{telefono}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                </div>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" th:field="*{username}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <div>
                    <label for="password_reg">Password:</label>
                    <input type="password" id="password_reg" th:field="*{passwordUtente}" required="required"/>
                    <div class="error" th:if="${#fields.hasErrors('passwordUtente')}" th:errors="*{passwordUtente}"></div>
                </div>
                <div>
                    <label for="foto">Foto:</label>
                    <input type="file" id="foto" name="foto" />
                </div>
                <button type="submit">Registrati</button>
                <div class="error" th:if="${duplicato != null}" th:text="${duplicato}"></div>
                <div class="error" th:if="${errore != null}" th:text="${errore}"></div>
            </form>
        </div>
    </div>
</section>


<!--Footer-->
<footer>
    <div class="footer-container">
        <div class="footer-location">
            <img id="logo2" src="/static/imgStatiche/logo.png">
            <p>Milano, Italia</p>
            <p>Via Roma, 12</p>
            <p>+39 456 345 8902</p>
            <p>
                <a class="links-mail">palestraorientale@gmail.com</a> </p>
        </div>

        <div class="footer-hours">
            <h5>ORARIO D'APERTURA</h5>
            <p>Lunedì-Sabato</p>
            <p>6:00 - 22:00</p>
            <p>Sabato</p>
            <p>8:00 - 21:00</p>
            <p>Chiuso domenica</p>
        </div>
        <div class="footer-follow">
            <h5>SEGUICI SUI SOCIAL</h5>
            <div>
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
